/**
*
* {{ name }}
*
*/

/* eslint-disable react/react-in-jsx-scope */
/* eslint-disable react/jsx-filename-extension */

import Layout from '../components/Layout';

export default () => (
  <Layout>
    <style jsx>{``}</style>
    <p>Hello from {{ name }}!!</p>
  </Layout>
);