/**
*
* {{ name }}
*
*/

/* eslint-disable react/jsx-filename-extension */

import React from 'react';
import Layout from '../components/Layout';

export default () => (
  <Layout title="{{ properCase name }}">
    <style jsx>{``}</style>
    <p>Hello from {{ name }}!!</p>
  </Layout>
);